<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Page Header
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Admin</a>
      </li>
      <li class="active">Cidades</li>
    </ol>
  </section>


  <!-- Main content -->
  <section class="content container-fluid">
    <!--------------------------
      | Your Page Content Here |
      -------------------------->
    <div class="zf-table-wrap  form-inline">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">

              <h3 class="box-title">
                {{ resources.result.name }}
              </h3>
              <div class="box-tools">

                <form [formGroup]="searchForm">
                  <app-search-component *ngIf="resources.result.showQuickSearch">
                    <input formControlName="searchControl" aria-controls="dataTable" class="quick-search form-control pull-right" placeholder="Search"
                      type="text" value="">
                  </app-search-component>
               
                   <app-datepicker-btn-componet *ngIf="resources.result.showSelectedDate" (emiselectedDate)="selectedDate($event)"></app-datepicker-btn-componet>                  

                  <app-select-component *ngIf="resources.result.showColumnFilters">
                    <select style="margin-left: 10px;" formControlName="statusControl" class="itemPerPage form-control input-sm" (change)="SelectPerPage($event)" >
                      <option *ngFor="let item of resources.result.itemCountPerPageValues" [selected]="resources.result.paginator.itemCountPerPage" [value]="item">{{ item }}</option>
                    </select>
                  </app-select-component>
                  <app-dropdown-toggle-split [items]="state" (Selected)="emitSelected($event)">
                  </app-dropdown-toggle-split>
                </form>

              </div>
            </div>
            <div class="mailbox-controls">
              <!-- Check all button -->
              <app-btn [value]="1" icone="fa fa-check" label="Ativar" [showTatus]="resources.paramsWrap.status" classBtn="btn btn-success btn-sm btn-flat" [showBtnActions]="resources.result.showBtnActions" (emitStatus)="updateState(1)"></app-btn>
              <app-btn [value]="2" icone="fa fa-remove" label="Desativar"  [showTatus]="resources.paramsWrap.status" classBtn="btn btn-primary btn-sm btn-flat" [showBtnActions]="resources.result.showBtnActions" (emitStatus)="updateState(2)"></app-btn>
              <app-btn [value]="3" icone="fa fa-trash" label="Enviar/Lixeira"  [showTatus]="resources.paramsWrap.status"  classBtn="btn btn-warning btn-sm btn-flat" [showBtnActions]="resources.result.showBtnActions" (emitStatus)="updateState(3)"></app-btn>
              <app-delete label="Enviar/Lixeira" [showTatus]="resources.paramsWrap.status" (emitDelete)="delete()"></app-delete>
              <!-- /.btn-group -->
             
              <!-- /.pull-right -->
            </div>
            <!-- /.box-header -->

            <div class="box-body table-responsive">


              <table class="table table table-responsive" sortable-table (sorted)="onSorted($event)">
                <thead>
                  <tr>
                    <th>
                        <input class="minimal" (change)="onChange('all', $event.target.checked)" type="checkbox" value="all">
                    </th>
                    <th sortable-column="title" sort-direction="asc">Titulo</th>
                    <th sortable-column="cep">Cep</th>
                    <th sortable-column="uf">Uf</th>
                    <th sortable-column="ibge">Ibge</th>
                    <th sortable-column="created_at">Criado Em</th>
                    <th sortable-column="status">Status</th>
                  </tr>
                </thead>
                <tbody *ngIf="loading">
                  <tr>
                    <td colspan="7">
                      <progressbar max="200" [value]="166" type="danger" [striped]="true" [animate]="true">
                        <i>166 / 200</i>
                      </progressbar>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="!loading">
                  <tr *ngFor="let item of resources.result.sEcho">
                    <td>
                      <input class="minimal" (change)="onChange(item.id, $event.target.checked)" type="checkbox" value="{{ item.id }}">
                    </td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.cep }}</td>
                    <td>{{ item.ibge }}</td>
                    <td>{{ item.uf }}</td>
                    <td>{{ item.created_at | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ item.status }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <pagination [totalItems]="resources.result.iTotalDisplayRecords" (pageChanged)="pageChanged($event)" [rotate]=true [(ngModel)]="curent"
                    [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"></pagination>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="pull-right" style="margin-right: 10px;">
                        Pagina: {{resources.result.paginator.current}} De {{resources.result.paginator.pageCount}} Paginas De {{ resources.result.iTotalDisplayRecords }} Registros
                        <!-- /.btn-group -->
                      </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>

    </div>


    <pre class="card card-block card-header">Page: {{resources.result.paginator.current}} De {{resources.result.paginator.pageCount}}</pre>
    <pre class="card card-block card-header">{{  this.resources.paramsWrap.order | json }}</pre>
    <pre class="card card-block card-header">{{   resources.result.paramsWrap.column | json }}</pre>
    <pre class="card card-block card-header">{{  resources.result.paginator.itemCountPerPage | json }}</pre>
  </section>
  <!-- /.content -->
</div>